@tailwind base;
@tailwind components;
@tailwind utilities;

  
/* Arrière-plan pastel */
body {
    background-color: #dfdddd; 
    background-size: cover;
    min-height: 100vh;
  }
  

  .space-x-6 > :not([hidden]) ~ :not([hidden]) {
    margin-top: 2px;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@layer utilities {
    .custom-shadow {
      @apply rounded-[30px] bg-[#e0e0e0];
      box-shadow: 
        15px 15px 30px #bebebe,   /* Ombre grise à droite et en bas */
        -15px -15px 30px #ffffff; /* Ombre blanche à gauche et en haut */
    }
  }
  