@tailwind base;
@tailwind components;
@tailwind utilities;

  
/* Arrière-plan pastel */
body {
    background-color: #efdecc25; 
    background-size: cover;
    min-height: 100vh;
  }
  

  .space-x-6 > :not([hidden]) ~ :not([hidden]) {
    margin-top: 2px;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
